@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body{
    background: #222;
    height: 100vh;
    background-image: url('./images/back2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.card{
    width: 90%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    backdrop-filter: blur(10px); 
    color: #fff; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity{
    font-size: 28px;
    margin-top: -6px;
}
.wind{
    font-size: 28px;
    margin-top: -6px;
}

.details .col:first-child {
    margin-right: 20px; 
}

.details .col:last-child {
    margin-left: 20px; 


}

